.modalIngredient{

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalIngredientName {
    display: flex;
    justify-content: center;
    }

    .modalIngredientNutrition {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      .nutrition {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 8px;

      }


    }
  }

