.orderContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .otherInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}